.App {
  padding: 50px;
  width: 700px;
}

hr {
  border: none;
  margin-bottom: 30px;
}

.actions {
  padding: 50px;

  > * + * {
    margin-left: 10px;
  }
}

.spaced > * + * {
  margin-left: 10px;
}

.done {
  text-decoration: line-through;
}
